#main-wrapper {
  &.grey-wrapper {
    background-color: $light_grey;
  }
}

.catalogs-container {
  background-color: $light_grey;
  padding-bottom: 192px;
  h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 136%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: $main-color;
    margin: 0 0 13px 0;
  }
  h4 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    color: $small_text_color;
    margin: 6px 0 16px 0;
  }
  .catalogs-wrapper {
    position: relative;
    padding: 16px 0 19px 0;
    background-color: $light_grey;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    &_col {
      display: flex;
      flex-direction: column;
      height: 650px;
      width: calc(33% - 24px);
      max-width: 408px;
      margin-right: 23px;
      margin-bottom: 23px;
      background-color: $white;
      &.video-slot {
        height: auto;
        .catalogs-wrapper_col_top {
          height: auto;
          @media (max-width: 640px) {
            iframe {
              width: 100%;
              margin-bottom: 24px;
            }
          }
        }
      }
      &:nth-of-type(3n) {
        margin-right: 0;
      }
      &_top {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 36px 36px 26px 36px;
        border-bottom: 1px solid $grey11;
        height: 590px;
        &_left {
          width: 100%;
          img {
            object-fit: contain;
            max-width: 348px;
            height: auto;
            width: 100%;
            max-height: 497px;
          }
        }
        &_right {
          .catalogs-text {
            h2 {
              font-size: 24px;
              font-weight: 600;
              line-height: 28.8px;
              text-align: left;
              color: $main-color-second;
              text-transform: uppercase;
              margin: 0 0 24px 0;
            }
            p {
              display: -webkit-box;
              -webkit-line-clamp: 15;
              -webkit-box-orient: vertical;
              overflow: hidden;
              font-size: 16px;
              font-weight: 400;
              line-height: 171%;
              text-align: left;
              color: $text_color;
              margin: 0 0 16px 0;
              a {
                font-size: 16px;
                font-weight: 400;
                line-height: 171%;
                text-align: left;
                color: $main-color;
                text-decoration: none;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
            a {
              font-size: 16px;
              font-weight: 400;
              line-height: 171%;
              text-align: left;
              color: $main-color;
              margin: 0 0 16px 0;
              text-decoration: none;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
      &_bottom {
        padding: 16px 16px;
        height: 110px;
        &__btns {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          gap: 18px;
          &--btn {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: max-content;
            height: 50px;
            padding: 15px 16px;
            box-sizing: border-box;
            border: 1px solid $main-color;
            background-color: $white;
            text-decoration: unset;
            border-radius: 10px;
            span {
              font-size: 16px;
              font-weight: 400;
              line-height: 24px;
              text-align: center;
              margin: 0;
              color: $main-color;
            }
            img {
              display: flex;
              margin: 0 0 0 10px;
            }
            &:hover {
              background-color: $main-color;
              span {
                color: $white;
              }
              img {
                filter: invert(1) brightness(22);
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1380px) {
  .catalogs-container {
    h1 {
      font-size: 33px;
    }
    h4 {
      font-size: 16px;
    }
  }
}

@media (max-width: 1300px) {
  .catalogs-container {
    .catalogs-wrapper {
      &_col {
        height: auto;
        &_top,
        &_bottom {
          height: auto;
        }
      }
    }
  }
}

@media (max-width: 860px) {
  #main-wrapper {
    &.grey-wrapper {
      .breadcrumbs.container {
        margin-top: 0;
      }
    }
  }
  .catalogs-container {
    padding-bottom: 24px;
    h1 {
      font-size: 28px;
    }
    h4 {
      font-size: 15px;
    }
    .catalogs-wrapper {
      padding: 8px 0 24px;
      &_col {
        width: calc(50% - 24px);
        &:nth-of-type(odd) {
          margin-right: 24px;
        }
        &_top {
          padding: 18px;
        }
        &_bottom {
          padding: 18px;
          &__btns {
            gap: 12px;
            &--btn {
              height: 42px;
              padding: 10px 15px;
              span {
                font-size: 14px;
                line-height: 19px;
              }
              img {
                height: 17px;
                width: auto;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .catalogs-container {
    .catalogs-wrapper {
      &_col {
        height: auto;
        width: 100%;
        max-width: unset;
        margin: 0 0 24px 0 !important;
        &_top {
          flex-direction: column;
          height: auto;
          width: 100%;
          &_left {
            display: flex;
            justify-content: center;
            margin: 0 auto;
            img {
              margin: 0;
              max-width: unset;
            }
          }
          &_right {
            .catalogs-text {
              h2 {
                margin: 0 0 12px 0;
              }
              p {
                display: unset;
                -webkit-line-clamp: unset;
                -webkit-box-orient: unset;
                overflow: unset;
              }
            }
          }
        }
        &_bottom {
          height: auto;
        }
      }
    }
  }
}
