$main-color: #e6007e;
$main-color-light: #fdc5e4;
$main-color-second: #34224f;
$white: #ffffff;
$lavender: #e4edff;
$light_green: #b5efcc;
$light_green2: #beffc1;
$light_yellow: #fff1be;
$violet: #c1b4de;
$text_color: #212321;
$small_text_color: #374957;
$blog_grey: #9aa8b3;
$blog_grey_opacity: #374957b4;
$about_us_pink: #dbaccb;
$our_brands_grey: #acbfdb;
$grey: #e6e6e6;
$grey2: #747474;
$grey3: #c0c5c8;
$grey4: #a6a6a6;
$grey5: #8a8a8a;
$grey6: #d2d2d2;
$grey7: #a4a4a4;
$grey8: #dfdfdf;
$grey9: #bfbfbf;
$grey10: #b9b9b9;
$grey11: #d9d9d9;
$grey12: #cccccc;
$grey13: #f4f4f4;
$grey14: #dedede;
$light_grey: #f2f3f7;
$light_grey2: #eeeeee;
$open_menu_background: #000000b2;
$menu_arrows_color: #34224f;
$transparent: rgba(255, 255, 255, 0);
$menu_hover_color: #e6007e;
$label_green_color: #acdbd5;
$newsletter_pink: #fadedb;
$black: #000000;
$grey_main: #333333;
$table-grey: #b8b8b8;
$red: #ed1717;
$green: #21a500;
$dark_red: #be6363;
$dashboard_red: #fd0000;
$dashboard_orange: #f26521;
$dashboard_green: #54bf00;
$dashboard_green2: #00d13a;
$dashboard_grey: #8c8c8c;
$promo_price: #4081ff;
$main_page_swiper_background: #ffdac0;
$swiper_border_color: #fff;
$light_violet: #bba6dc;
