.category-menu {
  width: 296px;
  height: auto;
  margin-right: 24px;
  margin-bottom: 15px;
  background-color: $white;
  border: 1px solid $grey;
  .category-menu__title {
    h3 {
      font-weight: 600;
      font-size: 16px;
      line-height: 213%;
      vertical-align: middle;
      text-transform: uppercase;
      color: $main-color-second;
      padding-left: 20px;
    }
  }
  .accordion {
    &-header {
      button {
        font-size: 12px;
        font-style: normal;
        text-transform: uppercase;
        font-weight: 500;
        line-height: 177.023%;
        color: $text_color;
        padding: 5px 20px;
      }
    }
    &-item {
      border-bottom: 0;
      &:last-of-type {
        button {
          border-bottom: 0;
        }
      }
      .accordion-body {
        padding: 0 !important;
        .menu-slot {
          display: inline-flex;
          width: 100%;
          border-bottom: 1px solid $light_grey;
          a {
            display: inline-flex;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 177.023%;
            color: $text_color;
            text-decoration: none;
            padding: 5px 5px 5px 30px;
            width: 100%;
            &:hover,
            &.active {
              color: $white !important;
            }
          }
          &:has(a.active),
          &:hover {
            background-color: $main-color !important;
          }
        }
      }
    }
    &-button {
      border-bottom: 1px solid $grey;
      background-color: $white !important;
      box-shadow: none !important;
      &::after {
        background-image: url(./../assets/icons/common/grey-arrow-down.svg);
        background-size: 9px;
        background-repeat: no-repeat;
        background-position: center;
      }
      &:not(.collapsed)::after {
        background-image: url(./../assets/icons/common/grey-arrow-down.svg);
        background-size: 9px;
        background-repeat: no-repeat;
        background-position: center;
        transform: rotate(180deg);
      }
    }
  }
}

@media (max-width: 992px) {
  .category-menu {
    .accordion {
      &-header {
        button {
          padding: 10px;
        }
      }
    }
  }
}
