.category-top-seo-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 49px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  @media (max-width: 991px) {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 16px;
    gap: 0;
  }
  h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 136%;
    color: $text_color;
  }
  .category-seo-top-desc {
    p {
      font-family: Instrument Sans;
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      letter-spacing: 0%;
      vertical-align: middle;
      color: $text_color;
      margin-bottom: 16px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: 991px) {
  .category-top-seo-text {
    h1 {
      font-size: 24px;
      margin-bottom: 10px;
    }
    .category-seo-top-desc {
      margin-bottom: 0px;
      p {
        font-size: 14px;
        margin-bottom: 10px;
      }
    }
  }
}
