.category-top-filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  background-color: $white;
  border: 1px solid $grey15;
  width: max-content;
  height: 45px;
  margin-bottom: 49px;
  border-radius: 10px;
  &__slot {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-left: 1px solid $grey15;
    padding: 0 20px;
    height: 45px;
    &:first-of-type {
      border-left: 0;
    }
    label {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      color: $grey5;
    }
    select {
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      color: $grey_main;
      height: 40px;
      margin: 0 8px 0 8px;
      background-color: $white;
      padding-left: 15px;
      cursor: pointer;
    }
  }
}

@media (max-width: 991px) {
  .category-top-filters {
    width: 100%;
    margin-bottom: 16px;
    margin-top: 0;
  }
}

@media (max-width: 860px) {
  .category-top-filters {
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
    &__slot {
      width: 100%;
      border-left: 0;
      border-bottom: 1px solid $grey;
      &:last-of-type {
        border-bottom: 0;
      }
    }
  }
}
