#main-wrapper:has(.hero.newsletter-pink) {
  height: 605px;
  @media (max-width: 991px) {
    height: 100% !important;
  }
  .hero_content p {
    color: $text_color;
  }
}
.hero.newsletter-pink {
  margin-bottom: 0 !important;
  height: 605px !important;
  @media (max-width: 991px) {
    height: 100% !important;
    .newsletter-row {
      display: flex;
      flex-direction: row !important;
    }
  }
  .custom-checkbox-container {
    font-size: 14px;
    line-height: 177%;
    padding-left: 60px;
    @media (max-width: 991px) {
      padding-left: 40px;
      font-size: 12px;
    }
  }
  .hero_image {
    height: 605px !important;
    img {
      height: 605px !important;
    }
    @media (max-width: 991px) {
      height: 100% !important;
      img {
        height: 100% !important;
      }
    }
  }
  label {
    a {
      color: $text_color;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &.correct-mail,
  &.incorrect-mail {
    margin-top: -100px;
  }
  input.newsletter-hero {
    width: 324px;
    height: 54px;
    padding: 15px 20px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: $text_color;
    border: 1px solid $main-color;
    margin-right: -5px;
    &:focus,
    &:hover {
      outline: 0;
    }
    &::placeholder {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      color: $text_color;
    }
  }
  button {
    align-items: center;
  }
}

@media (max-width: 1199px) {
  .hero.newsletter-pink {
    background-color: #caebfa !important;
    padding-bottom: 120px !important;
    input.newsletter-hero {
      width: 60vw;
      font-size: 14px;
      &::placeholder {
        font-size: 14px;
      }
    }
    button {
      font-size: 14px;
    }
    &::before {
      background-color: #caebfa !important;
    }
  }
}

@media (max-width: 991px) {
  .hero.newsletter-pink {
    &.correct-mail,
    &.incorrect-mail {
      margin-top: -72px;
    }
  }
}
