#about_us {
  position: relative;
  padding: 62px 0;
  .about-us-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    &__text {
      max-width: 32%;
      h4 {
        font-weight: 700;
        font-size: 18px;
        line-height: 160%;
        margin: 0 0 18px 0;
        color: $text_color;
        text-transform: uppercase;
        text-align: center;
      }
      p {
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        margin: 0 0 24px 0;
        color: $text_color;
      }
    }
    @media (max-width: 1100px) {
      flex-direction: column;
      &__text {
        max-width: 100%;
      }
      &__img {
        margin: 0 0 24px 0;
      }
    }
  }
}
