#blog {
  position: relative;
  background-color: $light_grey;
  padding: 60px 0 60px 0;
  &::before {
    position: absolute;
    display: block;
    content: "";
    background-color: $light_grey;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    z-index: -1;
  }
}

.blog_swiper {
  overflow: hidden;
  margin-bottom: 42px;
  &::before {
    position: absolute;
    display: block;
    content: "";
    background-color: $light_grey;
    left: calc((100vw - 1576px) / 2 * -1);
    top: 0;
    width: 100vw;
    height: 100%;
    z-index: 0;
  }
  .article_swiper_box {
    padding: 31px 31px 16px 31px;
  }
  .swiper-slide {
    position: relative;
    .article_swiper_box__text {
      margin-top: 8px;
      &--title {
        h3 {
          height: 75px;
          display: inline-flex;
          align-items: center;
        }
      }
      &--date,
      &--title {
        p,
        h3,
        a {
          color: $text_color;
        }
        h3 {
          margin-bottom: 10px;
        }
        h3 a {
          -webkit-line-clamp: 3;
        }
        p {
          -webkit-line-clamp: 4;
        }
      }
      &--see-more {
        p,
        a {
          margin-top: 10px;
          color: $main-color;
        }
      }
    }
  }
}

@media (max-width: 1639px) {
  .blog_swiper {
    &::before {
      left: -50vw;
      width: 200vw;
    }
  }
}

@media (max-width: 991px) {
  #blog {
    padding-top: 0;
  }
  .blog_swiper {
    margin-bottom: 24px;
    padding-bottom: 24px;
  }
}
