#popular-categories {
  position: relative;
  background-color: $light_grey;
  padding: 24px 0 25px 0;
  &::before {
    position: absolute;
    display: block;
    content: "";
    background-color: $light_grey;
    left: calc((100vw - 1576px) / 2 * (-1));
    top: 0;
    width: 100vw;
    height: 100%;
    z-index: -1;
  }
  .popular-categories {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    gap: 28px;
    @media (max-width: 1200px) {
      flex-wrap: wrap;
      justify-content: center;
      gap: 16px;
    }
    &__slot {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      min-width: 140px;
      width: 150px;
      height: 140px;
      background-color: $white;
      border-radius: 11px;
      gap: 12px;
      @media (max-width: 991px) {
        padding: 8px;
      }
      &:hover {
        box-shadow: 0px 10.93px 13.45px 0px #00000026;
        background-color: $main-color-second;
        img,
        h3 {
          filter: invert(1) brightness(222);
          font-weight: 700;
        }
      }
    }
    &__image {
      img {
        width: 100%;
        height: auto;
        max-width: 50px;
        max-height: 50px;
        @media (max-width: 991px) {
          width: 40px;
        }
      }
    }
    &__name {
      h3 {
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        color: $text_color;
        text-align: center;
        @media (max-width: 991px) {
          font-size: 14px;
        }
      }
    }
  }
}
