#swiper {
  width: 100vw;
  max-width: unset;
  padding: 0;
  &.main-page-swiper {
    position: relative;
    width: 100%;
    max-width: 1920px;
    .swiper.desktop {
      .swiper-slide {
        a {
          img {
            object-fit: cover;
          }
        }
        .hero_content--content {
          position: absolute;
          bottom: 25%;
          left: 9%;
          img {
            width: 18px;
            height: 18px;
            object-fit: contain;
          }
          h1,
          h2 {
            font-size: 56px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;
            text-transform: uppercase;
            margin: 0 0 20px 0;
            color: $main-color-second;
            span {
              font-weight: 700;
              color: $white;
            }
          }
          h3 {
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            color: $white;
            margin: 0 0 15px 0;
            text-transform: uppercase;
          }
          p {
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 177.023%;
            color: $white;
            margin: 0;
            max-width: 649px;
          }
        }
      }
    }
  }
  .swiper {
    width: 100%;
    height: 577px;
    z-index: 0;
    &.mobile {
      display: none;
    }
    .swiper-button-next {
      position: absolute;
      width: 45px;
      height: 45px;
      background-image: url("./../assets/icons/main_page/hero_swiper/arrow-right.svg");
      background-size: contain;
      display: block;
      background-repeat: no-repeat;
      background-position: center center;
      top: 50%;
      right: 40px;
      z-index: 1;
      &::after {
        display: none;
      }
    }
    .swiper-button-prev {
      position: absolute;
      width: 45px;
      height: 45px;
      background-image: url("./../assets/icons/main_page/hero_swiper/arrow-left.svg");
      background-size: contain;
      display: block;
      background-repeat: no-repeat;
      background-position: center center;
      top: 50%;
      left: 40px;
      z-index: 1;
      &::after {
        display: none;
      }
    }
    .swiper-slide {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets
      .swiper-pagination-bullet {
      width: 17px;
      height: 17px;
      background-color: $white;
      border: 2px solid $swiper_border_color;
      opacity: 1;
      margin: 0 12px;
    }
    .swiper-pagination-horizontal.swiper-pagination-bullets
      .swiper-pagination-bullet.swiper-pagination-bullet-active {
      border: 2px solid $swiper_border_color;
      background-color: $main-color-second;
    }
  }
}

.our_brands_swiper {
  .swiper-slide {
    img {
      filter: grayscale(100%);
    }
  }
}

#branding_page_swiper,
#import-page-swiper {
  background-color: $light_grey;
  padding-bottom: 44px;
  h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 136%;
    text-transform: uppercase;
    color: $main-color-second;
    margin-bottom: 40px;
    @media (max-width: 991px) {
      font-size: 24px;
      margin-bottom: 24px;
      padding-top: 16px;
    }
  }
  .swiper-slide {
    img {
      padding: 0 !important;
      border: 0 !important;
    }
  }
}

.branding-page-swiper,
.import-page-swiper {
  width: 100% !important;
  margin: 44px auto !important;
  @media (max-width: 991px) {
    margin: 0 auto !important;
  }
  .swiper-button-prev {
    top: 60% !important;
    background-color: $white !important;
    left: -48px !important;
    @media (max-width: 991px) {
      left: 0 !important;
    }
  }
  .swiper-button-next {
    top: 60% !important;
    background-color: $white !important;
    right: -48px !important;
    @media (max-width: 991px) {
      right: 0 !important;
    }
  }
}

.import-page-swiper,
.branding-page-swiper {
  margin: 80px 0;
  overflow: hidden;
  .swiper-slide {
    img {
      border: 1px solid $grey3;
      padding: 20px;
      object-fit: contain;
    }
  }
}

.branding-page-swiper {
  .swiper-slide {
    height: 327px;
    img {
      height: 327px !important;
      object-fit: contain !important;
    }
    @media (max-width: 991px) {
      height: 100%;
      img {
        height: 100% !important;
      }
    }
  }
}

.promo_products_swiper,
.our_products_swiper,
.news_swiper,
.blog_swiper,
.our_brands_swiper,
.import-page-swiper,
.branding-page-swiper {
  width: 100%;
  z-index: 0;
  .swiper-button-next {
    position: absolute;
    width: 45px;
    height: 45px;
    background-image: url("./../assets/icons/main_page/hero_swiper/arrow-right.svg");
    background-size: contain;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    top: 50%;
    right: -56px;
    z-index: 1;
    &::after {
      display: none;
    }
  }
  .swiper-button-prev {
    position: absolute;
    width: 45px;
    height: 45px;
    background-image: url("./../assets/icons/main_page/hero_swiper/arrow-left.svg");
    background-size: contain;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    top: 50%;
    left: -56px;
    z-index: 1;
    &::after {
      display: none;
    }
  }
  .swiper-slide {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

@media (min-width: 2560px) {
  #swiper {
    .swiper {
      .swiper-slide {
        img {
          object-fit: contain;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  #swiper {
    &.main-page-swiper {
      .swiper.mobile {
        .swiper-slide {
          a {
            img {
              object-fit: cover;
            }
          }
          .hero_content--content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            h1,
            h2 {
              font-size: 34px;
              font-style: normal;
              font-weight: 500;
              line-height: 110%;
              text-transform: uppercase;
              margin: 0 0 20px 0;
              text-align: center;
              color: $main-color-second;
              span {
                font-weight: 700;
                color: $white;
              }
            }
            h3 {
              text-align: center;
              font-weight: 600;
              font-size: 17px;
              line-height: 22px;
              color: $white;
              margin: 0 0 15px 0;
              text-transform: uppercase;
            }
            p {
              display: none;
            }
          }
        }
      }
    }
    .swiper {
      &.desktop {
        display: none;
      }
      &.mobile {
        display: block;
        height: auto;
      }
      .swiper-button-next {
        right: 8px;
      }
      .swiper-button-prev {
        left: 8px;
      }
    }
  }
  .promo_products_swiper,
  .our_products_swiper,
  .news_swiper,
  .blog_swiper,
  .our_brands_swiper {
    .swiper-button-next {
      right: 8px;
    }
    .swiper-button-prev {
      left: 8px;
    }
  }
  .import-page-swiper,
  .branding-page-swiper {
    margin: 24px 0;
    .swiper-button-next {
      right: -40px;
    }
    .swiper-button-prev {
      left: -40px;
    }
  }
}

@media (max-width: 760px) {
  .our_brands_swiper {
    margin: -24px 0 24px 0 !important;
  }
}

@media (max-width: 576px) {
  #swiper {
    .swiper {
      .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
      .swiper-pagination-horizontal.swiper-pagination-bullets
        .swiper-pagination-bullet {
        width: 15px;
        height: 15px;
        margin: 0 6px;
      }
    }
  }
}

@media (min-width: 992px) {
  #swiper .swiper.desktop .swiper-slide img {
    width: 100%;
    height: auto;
    max-height: 577px;
  }
  #swiper .swiper.desktop {
    height: auto;
    max-height: 577px;
  }
}
