.color-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  border: 1px solid $main-color;
  background-color: $main-color;
  color: $white;
  width: max-content;
  height: 54px;
  padding: 15px 20px;
  text-decoration: none;
  &.left-btn img {
    transform: rotate(180deg);
    margin-left: 0;
    margin-right: 10px;
  }
  img {
    margin-left: 10px;
  }
  &:hover {
    background-color: $white;
    color: $main-color;
    img {
      content: url("./../assets/icons/common/buttons/button_color_arrow.svg");
    }
  }
}

.white-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  border: 1px solid $main-color;
  background-color: $white;
  color: $main-color;
  width: max-content;
  height: 54px;
  padding: 15px 20px;
  text-decoration: none;
  &.left-btn img {
    transform: rotate(180deg);
    margin-left: 0;
    margin-right: 10px;
  }
  img {
    margin-left: 10px;
  }
  &:hover {
    background-color: $main-color;
    color: $white;
    img {
      content: url("./../assets/icons/common/buttons/button_white_arrow.svg?=gdfg5");
    }
  }
}

.white-save-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  border: 1px solid $main-color;
  background-color: $white;
  color: $main-color;
  width: max-content;
  height: 54px;
  padding: 15px 20px;
  text-decoration: none;
  &.left-btn img {
    transform: rotate(180deg);
    margin-left: 0;
    margin-right: 10px;
  }
  img {
    margin-left: 10px;
  }
  &:hover {
    background-color: $main-color;
    color: $white;
    img {
      content: url("./../assets/icons/dashboard/save-btn-white.svg");
    }
  }
}

.color-save-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  border: 1px solid $main-color;
  background-color: $main-color;
  color: $white;
  width: max-content;
  height: 54px;
  padding: 15px 20px;
  text-decoration: none;
  &.left-btn img {
    transform: rotate(180deg);
    margin-left: 0;
    margin-right: 10px;
  }
  img {
    margin-left: 10px;
  }
  &:hover {
    background-color: $white;
    color: $main-color;
    img {
      content: url("./../assets/icons/dashboard/save-btn-color.svg?gf=534");
    }
  }
}

.white-purple-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  border: 1px solid $main-color-second;
  background-color: $white;
  color: $main-color-second;
  width: max-content;
  height: 54px;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Instrument Sans;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  img {
    margin-left: 10px;
  }
  &:hover {
    background-color: $main-color-second;
    color: $white;
    img {
      content: url("./../assets/icons/common/buttons/button_white_arrow.svg?=gdfg5");
    }
  }
}

.white-pink-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  border: 1px solid $main-color;
  background-color: $white;
  color: $main-color;
  width: max-content;
  height: 54px;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Instrument Sans;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  img {
    margin-left: 10px;
  }
  &:hover {
    background-color: $main-color;
    color: $white;
    img {
      content: url("./../assets/icons/common/buttons/button_white_arrow.svg?=gdfg5");
    }
  }
}

@media (max-width: 991px) {
  .white-purple-btn,
  .white-pink-btn {
    font-size: 14px;
    line-height: 16px;
    margin-top: 12px;
    height: 42px;
    img {
      width: 16px;
      height: 16px;
    }
  }
}

.main-check-btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    margin-top: 0;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 16px;
    @media (max-width: 991px) {
      font-size: 14px;
    }
  }
}

.cart_container {
  .prev {
    color: $main-color-second;
    border-color: $main-color-second;
    &:hover {
      color: $white;
      background-color: $main-color-second;
    }
  }
}
