header {
  position: relative;
  box-shadow: 5px 0px 18.6px 0px #00000026;
  z-index: 10;
}

nav {
  .navbar-brand {
    img {
      width: 195px;
      height: 55px;
      @media (max-width: 991px) {
        width: auto;
        height: 45px;
      }
    }
  }
  .container-fluid {
    padding: 0 !important;
  }
  #nav-searchbar {
    position: relative;
    input {
      all: unset;
      width: 785px;
      height: 45px;
      background-color: $light_grey;
      padding: 0 190px 0 38px;
      border-radius: 16px;
      border: 1px solid $grey11;
      box-sizing: border-box;
      &::placeholder {
        font-size: 16px;
        font-weight: 300;
        line-height: 90%;
        color: $grey2;
      }
      &:hover,
      &:active {
        border: 1px solid $main-color;
      }
    }
    .vertical-line {
      position: absolute;
      top: 14px;
      right: 190px;
      display: block;
      width: 1px;
      height: 20px;
      background-color: $main-color;
    }
    #search-query-select {
      background-color: $light_grey;
      position: absolute;
      top: 14px;
      right: 88px;
      font-size: 14px;
      color: $main-color;
      border: 0;
    }
    button {
      all: unset;
      position: absolute;
      top: calc(50% - 12.5px);
      right: 30px;
      font-size: 0;
      content: "";
      display: block;
      background: url("./../assets/icons/common/header/magnifier.svg");
      width: 25px;
      height: 25px;
      background-size: contain;
      background-repeat: no-repeat;
      cursor: pointer;
    }
  }
  .nav-account-cart {
    .cart-nav-box {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .cart-value-text {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      font-weight: 700;
      font-size: 14px;
      line-height: 1;
      margin: 4px 0 0 8px;
      width: 46px;
      color: $black;
    }
    a {
      span {
        font-size: 16px;
        font-weight: 400;
        line-height: 100%;
        color: $text_color;
        width: 62px;
      }
      &:hover {
        span {
          color: $main-color-second;
        }
        svg {
          filter: brightness(0) saturate(100%) invert(35%) sepia(94%)
            saturate(4713%) hue-rotate(348deg) brightness(92%) contrast(94%);
        }
      }
      &.nav-cart-icon,
      &.nav-clients-panel-icon,
      &.nav-wishlist-icon {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: unset;

        svg.wishlist-icon {
          width: 34px;
          height: 34px;
          filter: invert(0) brightness(0);
        }
        .cart-icon {
          margin-right: 24px;
          @media (max-width: 991px) {
            height: 30px;
            width: auto;
          }
        }
        .cart-quantity,
        .offertspage-quantity,
        .wishlist-quantity {
          position: absolute;
          display: flex;
          justify-content: center;
          top: 0px;
          right: 8px;
          background-color: $main-color-second;
          border-radius: 100%;
          z-index: 10;
          min-width: 27px;
          height: 27px;
          padding: 2px;
          width: auto;
          @media (max-width: 991px) {
            min-width: 22px;
            height: 22px;
          }
          p {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            color: $white;
            width: 100%;
            height: 100%;
            @media (max-width: 991px) {
              font-size: 12px;
            }
          }
        }
        .offertspage-quantity,
        .wishlist-quantity {
          right: -4px;
        }
      }
    }
  }
  .dropend {
    position: static;
  }
  .dropdown-item:focus,
  .dropdown-item:hover {
    background-color: $menu_hover_color;
    color: $white;
    text-shadow: 0.3px 0px 0.1px, -0.3px 0px 0.1px;
  }
  .second-lvl-menu {
    .dropdown-item:focus,
    .dropdown-item:hover {
      color: $menu_hover_color;
    }
  }
  .dropdown-toggle::after {
    border-top: 0.3em solid $menu_arrows_color;
    border-right: 0.3em solid $transparent;
    border-bottom: 0;
    border-left: 0.3em solid $transparent;
    &:hover {
      color: $main-color;
    }
  }
  .navbar-bottom {
    .main-nav-item {
      &:first-of-type {
        > a {
          padding-left: 0;
        }
      }
      &:last-of-type {
        > a {
          padding-right: 0;
        }
      }
    }
    .main-nav-item > a {
      font-family: Instrument Sans;
      font-weight: 500;
      font-size: 16px;
      line-height: 177%;
      color: $black;
      padding: 10px;
      margin: 0 15px;
      @media (max-width: 1220px) {
        margin: 0;
      }
      &:hover,
      &.active {
        color: $main-color-second;
      }
      &.big-dropdown {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: $main-color;
        border: 1px solid $main-color;
        color: $white;
        border-radius: 10px;
        height: 42px;
        &:hover {
          background-color: $main-color-second;
          border: 1px solid $main-color-second;
        }
        &.show {
          background-color: $main-color-second;
          border: 1px solid $main-color-second;
          &::after {
            rotate: 180deg;
          }
        }
      }
    }
  }
}

@media (max-width: 1260px) {
  nav {
    #nav-searchbar {
      input {
        width: 100%;
      }
    }
  }
}

@media (min-width: 992px) {
  header {
    height: 244px;
  }
  nav {
    height: 203px;
    .navbar-brand-mobile {
      display: none;
    }
    .navbar-first-row {
      height: 86px;
    }
    .navbar-top {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      height: 86px;
    }
    .navbar-bottom {
      position: absolute;
      top: 76px;
      left: 0;
      display: flex;
      height: 128px;
      .dropdown {
        position: static !important;
      }
      .bottom-nav-categories {
        height: 40px;
        margin-bottom: 16px;
      }
      .offert-nav-toggler {
        height: 40px;
        padding: 6px 0 16px 0;
        width: 100%;
        gap: 60px;
        .nav-item {
          width: 33%;
          .nav-link {
            font-weight: 600;
            font-size: 18px;
            line-height: 177%;
            text-transform: uppercase;
            margin: 0;
          }
        }
      }
    }
    .nav-account-cart {
      a {
        &.nav-cart-icon {
          margin-right: 4px;
          .cart-quantity {
            p {
              margin: 0;
            }
          }
        }
      }
    }
    .dropdown-menu {
      position: relative;
      grid-template-columns: repeat(4, 1fr);
      margin: 0 !important;
      --bs-dropdown-spacer: 0 !important;
      --bs-dropdown-padding-y: 0 !important;
      min-height: 36px;
      padding: 21px 39px;
      background-color: $light_grey;
      border-radius: 0 0 50px 50px !important;
      width: 100%;
      border-top: 1px solid $main-color-second;
      &.show {
        display: grid;
      }
      li {
        margin-bottom: 6px;
        a {
          padding: 8px 16px;
          border-radius: 10px;
          width: max-content;
          img {
            margin-right: 18px;
          }
          &:hover {
            img {
              filter: invert(1) brightness(220);
            }
          }
        }
      }
      &.second-lvl-menu {
        padding: 21px 60px 21px 0;
        background-color: $white;
        &.show {
          display: flex;
          height: 100%;
          width: 100vw;
          .list-unstyled {
            padding-left: 64px;
            li {
              min-height: 42px;
              a {
                &:hover {
                  background-color: unset;
                }
                img {
                  margin-right: 18px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  nav {
    height: auto;
    .container-fluid {
      padding-left: 1rem !important;
      padding-right: 1rem !important;
    }
    .navbar-brand {
      img {
        margin-left: 0;
      }
    }
    #nav-searchbar {
      margin: 16px 0 0 0;
      width: 100%;
      input {
        width: 100%;
        height: 48px;
        padding: 0 144px 0 16px;
        margin: 0 !important;
        font-size: 14px;
        &::placeholder {
          font-size: 14px;
        }
      }
      button {
        right: 16px;
      }
      #search-query-select {
        right: 48px;
      }
      .vertical-line {
        right: 140px;
      }
    }
    .navbar-brand-desktop {
      display: none;
    }
    .nav-account-cart {
      padding: 16px 0 0 0;
      width: 100%;
      justify-content: flex-end;
      margin-right: 6px;
      a {
        span {
          font-size: 15px;
        }
        svg {
          width: 30px;
          height: 30px;
          &.wishlist-icon {
            width: 30px !important;
            height: 30px !important;
          }
        }
      }
      .cart-value-text {
        font-size: 13px;
      }
    }
    .navbar-bottom {
      align-items: flex-start !important;
      .offert-nav-toggler {
        flex-direction: column;
        margin-right: unset;
        width: 100%;
        gap: 6px;
        margin-top: 8px;
        .dropdown-item {
          img {
            margin-right: 12px;
          }
        }
      }
      .bottom-nav-categories {
        flex-direction: column;
        .nav-link {
          padding-left: 0;
        }
      }
      .main-nav-item {
        width: 100%;
        .dropdown-toggle,
        > a {
          font-size: 16px;
          padding: 6px 0;
        }
        .dropdown-item {
          font-size: 14px;
        }
        .dropdown-menu {
          border: 0;
          border-radius: 0;
          &.show {
            background-color: $light_grey;
            .dropdown-menu {
              &.show {
                background-color: $white;
              }
            }
          }
          &.second-lvl-menu {
            &.show {
              .list-unstyled {
                li {
                  a {
                    &:hover {
                      background-color: unset;
                    }
                    img {
                      width: 25px;
                      height: 25px;
                      margin-right: 10px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
