#topbar {
  position: relative;
  background-color: $topbar-color;
  height: 40px;
  z-index: 11;
  @media (max-width: 991px) {
    height: auto;
    padding: 4px 16px;
    box-sizing: border-box;
  }
  .container {
    height: 32px;
    padding: 0;
    .topbar-links,
    .topbar-contact {
      a {
        color: $text_color;
        font-weight: 500;
        font-size: 14px;
        line-height: 133%;
        text-decoration: none;
        padding: 2px 0;
        @media (max-width: 991px) {
          font-size: 12px;
          img {
            width: 16px;
            height: 16px;
          }
        }
        &:hover {
          color: $main-color-second;
          img {
            filter: brightness(0) saturate(100%) invert(35%) sepia(94%)
              saturate(4713%) hue-rotate(348deg) brightness(92%) contrast(94%);
          }
        }
        img {
          margin-right: 8px;
          @media (max-width: 760px) {
            margin-right: 4px;
          }
        }
      }
    }
    .topbar-contact {
      gap: 24px;
      @media (max-width: 760px) {
        gap: 6px;
      }
    }
  }
}
