#topbar {
  position: relative;
  background-color: $main-color-second;
  height: 40px;
  z-index: 11;
  .container {
    height: 40px;
    padding: 0;
    .topbar-lang {
      user-select: none;
      position: relative;
      margin-left: 16px;
      .flag-toggle {
        cursor: pointer;
        .flag-arrow {
          display: inline-flex;
          align-items: center;
          margin-left: 4px;
          img {
            width: 9px;
            height: auto;
          }
        }
      }
      .flag-modal {
        display: none;
        position: absolute;
        top: 40px;
        right: 0;
        .flag-modal-content {
          display: flex;
          padding: 16px;
          background-color: $main-color-second;
          border: 1px solid $white;
          cursor: pointer;
          &:hover {
            opacity: 0.8;
          }
          .flag-img {
            cursor: pointer;
          }
        }
      }
    }
    .topbar-socials {
      a {
        margin-right: 8px;
        img {
          width: 20px;
          height: 20px;
        }
        filter: invert(1) brightness(2);
        &:hover {
          filter: invert(13%) sepia(96%) saturate(7041%) hue-rotate(319deg)
            brightness(89%) contrast(110%);
        }
      }
    }
    div:not(.topbar-lang) {
      a {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        color: $white;
        text-decoration: none;
        &:first-of-type {
          padding-left: 0 !important;
        }
        &.active,
        &:hover {
          color: $main-color;
        }
      }
      span {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        color: $text_color;
        height: 26px;
      }
    }
  }
}

@media (max-width: 1200px) {
  #topbar {
    .container {
      div {
        a {
          font-size: 13px;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  #topbar {
    > .container {
      padding-left: 1rem !important;
      padding-right: 1rem !important;
    }
  }
  .topbar-links {
    a {
      font-size: 12px !important;
      padding: 1rem 0.5rem !important;
      &:nth-of-type(1),
      &:nth-of-type(2),
      &:nth-of-type(3),
      &:nth-of-type(4),
      &:nth-of-type(5),
      &:nth-of-type(6) {
        display: none;
      }
    }
  }
}
