.product_card_tabs {
  nav {
    height: unset;
    .nav-tabs {
      border-bottom: 0;
      width: 100%;
      .nav-link {
        all: unset;
        padding: 24px 32px;
        width: max-content;
        height: 79px;
        border-bottom: 2px solid $white;
        background-color: $light_grey;
        color: $text_color;
        font-size: 20px;
        font-weight: 400;
        line-height: 177.023%;
        box-sizing: border-box;
        white-space: pre;
        cursor: pointer;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover,
        &.active {
          font-weight: 600;
          background-color: $white;
          color: $main-color-second;
          border-bottom: 2px solid $main-color;
        }
      }
    }
  }
  .tab-content {
    position: relative;
    background-color: $light_grey;
    padding-bottom: 48px;
    &::before {
      position: absolute;
      display: block;
      content: "";
      background-color: $light_grey;
      left: -50vw;
      top: 0;
      width: 200vw;
      height: 100%;
      z-index: -1;
    }
    .tab-pane {
      background-color: $white;
      padding: 45px;
      &:hover,
      &:focus {
        outline: 0;
        border: 0;
      }
      .features {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-bottom: 40px;
        .feature {
          display: flex;
          align-items: center;
          box-sizing: border-box;
          img {
            height: 45px;
            min-height: 45px;
            width: auto;
            margin-right: 10px;
          }
          span {
            flex-grow: 1;
          }
          @media (max-width: 991px) {
            flex-direction: column;
            img {
              height: 34px;
              min-height: 34px;
            }
            span {
              font-size: 14px;
            }
          }
        }
      }
      p {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 177.023%;
        margin: 0 0 36px 0;
        color: $text_color;
      }
      h2 {
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        text-transform: uppercase;
        margin: 0 0 36px 0;
        color: $text_color;
      }
      h3 {
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 177.023%;
        margin: 0 0 16px 0;
        color: $text_color;
      }
      .table-container {
        margin-bottom: 48px;
        &.short-rows-table {
          table {
            tbody {
              tr {
                td {
                  &:first-of-type {
                    width: 25%;
                  }
                }
              }
            }
          }
        }
        &.medium-rows-table {
          table {
            tbody {
              tr {
                td {
                  &:first-of-type {
                    width: 35%;
                  }
                }
              }
            }
          }
        }
        table {
          width: 100%;
          tbody {
            tr:first-of-type {
              background-color: $main-color-second;
              width: 100%;
              height: 41px;
              th {
                padding-left: 48px;
                font-size: 18px;
                font-weight: 700;
                line-height: 177.023%;
                color: $white;
                margin: 0;
                border-collapse: collapse;
              }
            }
            tr {
              &.active {
                border: 2px solid $main-color;
              }
              td {
                height: auto;
                padding: 16px 0;
                padding-left: 48px;
                border-bottom: 1px solid $table-grey;
                background-color: $white;
                a {
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 177.023%;
                  color: $small_text_color;
                  text-decoration: none;
                  .color {
                    margin-right: 10px;
                  }
                  &:hover {
                    color: $main-color;
                  }
                  &:hover {
                    img {
                      filter: invert(13%) sepia(96%) saturate(7041%)
                        hue-rotate(319deg) brightness(89%) contrast(110%);
                    }
                  }
                }
                .two-lines {
                  p {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 100%;
                    color: $small_text_color;
                    margin: 0;
                  }
                  span {
                    font-size: 12px;
                    font-weight: 300;
                    line-height: 160%;
                    color: $text_color;
                    margin: 0;
                  }
                  .mail-contact {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 177.023%;
                    margin: 0;
                    color: $main-color-second;
                    img {
                      margin-right: 7px;
                    }
                    &:hover {
                      filter: invert(0.1) brightness(-100%);
                    }
                  }
                }
              }
            }
          }
        }
      }
      .movies-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        &_slot {
          width: 31%;
          margin-right: 2%;
          margin-bottom: 2%;
          height: 320px;
          background-color: $white;
          &__top {
            iframe {
              width: 100%;
            }
          }
          &__bottom {
            position: relative;
            background-color: $white;
            height: 68px;
            .desc_left {
              height: 68px;
              display: flex;
              align-items: center;
              p {
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 177.023%;
                color: $text_color;
                margin: 0;
                padding-left: 29px;
                padding-right: 140px;
              }
            }
            .desc_right {
              position: absolute;
              top: 18px;
              right: 30px;
              display: flex;
              justify-content: center;
              align-items: center;
              a {
                &:hover {
                  img {
                    filter: invert(13%) sepia(96%) saturate(7041%)
                      hue-rotate(319deg) brightness(89%) contrast(110%);
                  }
                }
              }
              img {
                object-fit: contain;
                margin-left: 26px;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  .product_card_tabs {
    .tab-content {
      .tab-pane {
        .movies-container {
          &_slot {
            width: 48%;
            margin-right: 2%;
            margin-bottom: 2%;
            height: 320px;
            background-color: $white;
            border-bottom: 1px solid $table-grey;
            &__top {
              iframe {
                width: 100%;
              }
            }
            &__bottom {
              height: 48px;
              .desc_left {
                height: 48px;
                p {
                  padding-left: 20px;
                  padding-right: 20px;
                }
              }
              .desc_right {
                top: 12px;
                right: 30px;
                img {
                  width: 24px;
                  height: 24px;
                  margin-left: 16px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .product_card_tabs {
    background-color: $white;
    nav {
      height: unset;
      .nav-tabs {
        border-bottom: 0;
        .nav-link {
          padding: 8px 16px;
          height: 40px;
          font-size: 14px;
          line-height: 140%;
          width: 100%;
        }
      }
    }
    .tab-content {
      padding-bottom: 0;
      .tab-pane {
        padding: 24px 16px;
        p {
          font-size: 14px;
          line-height: 140%;
          margin: 0 0 16px 0;
        }
        h2 {
          font-size: 20px;
          margin: 0 0 22px 0;
        }
        h3 {
          font-size: 16px;
          line-height: 140%;
        }
        .table-container {
          overflow-x: scroll;
          margin-bottom: 24px;
          &.wide-table {
            position: relative;
            padding-bottom: 28px;
            &::before {
              content: "Dotknij i przesuń, żeby zobaczyć więcej";
              position: absolute;
              width: 204px;
              height: 10px;
              bottom: 8px;
              font-weight: 400;
              font-size: 11px;
              line-height: 16px;
              color: $grey_main;
              right: 18px;
            }
            &::after {
              content: "";
              position: absolute;
              width: 14px;
              height: 20px;
              bottom: 2px;
              right: 11px;
              background: url("./../assets/icons/common/swipe-hand.svg");
              background-repeat: no-repeat;
              background-size: contain;
            }
            td {
              padding: 0 6px;
            }
          }
          &.wide-table {
            table {
              width: 150%;
            }
          }
          table {
            tbody {
              tr:first-of-type {
                background-color: $small_text_color;
                width: 100%;
                height: 40px;
                th {
                  padding-left: 16px;
                  font-size: 14px;
                  line-height: 140%;
                  white-space: pre;
                }
              }
              tr {
                td {
                  padding: 0 0 0 16px;
                  height: 40px;
                  font-size: 13px;
                  a {
                    font-size: 13px;
                    line-height: 140%;
                  }
                  .two-lines {
                    p {
                      font-size: 13px;
                    }
                    .mail-contact {
                      font-size: 13px;
                      line-height: 140%;
                    }
                  }
                }
              }
            }
          }
        }
        .movies-container {
          &_slot {
            width: 100%;
            margin-right: 0;
            margin-bottom: 24px;
            height: 300px;
            &__bottom {
              height: 40px;
              .desc_left {
                height: 40px;
                p {
                  padding-left: 16px;
                  padding-right: 16px;
                }
              }
              .desc_right {
                top: 6px;
                right: 16px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .product_card_tabs {
    .tab-content {
      .tab-pane {
        .movies-container {
          &_slot {
            height: 240px;
            &__top {
              iframe {
                height: 200px;
              }
            }
          }
        }
      }
    }
  }
}

.branding-row-elements {
  flex-wrap: wrap;
  .branding-col-card {
    width: 24%;
    margin-right: 1%;
    margin-bottom: 1%;
    background-color: $white;
    &:nth-of-type(4n) {
      margin-right: 0;
      width: 25%;
    }
    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $main-color-second;
      border-bottom: 1px solid $table-grey;
      min-height: 40px;
      height: auto;
      &.title-bottom p {
        font-size: 14px;
        text-align: center;
      }
      p {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 177.023%;
        color: $white;
        margin: 0;
        padding: 0 21px;
      }
    }
    .image {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $white;
      width: 100%;
      height: 240px;
      img {
        width: 100%;
        height: auto;
        padding: 16px;
      }
    }
    .details {
      position: relative;
      padding: 0 16px;
      .product-icons {
        position: absolute;
        top: 0;
        right: 15px;
        z-index: 1000;
      }
      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 177.023%;
        color: $text_color;
        margin: 0 0 16px 0;
        white-space: pre;
      }
      &-slots {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 20px;
        .detail-slot {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-right: 10px;
          img {
            object-fit: contain;
            margin-right: 8px;
          }
          p {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 177.023%;
            color: $text_color;
            margin: 0;
          }
        }
      }
    }
    .info {
      padding: 0 16px;
      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 177.023%;
        color: $text_color;
        margin: 0 0 4px 0;
      }
      &-slots {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        .info-slot {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          img {
            object-fit: contain;
            margin-right: 12px;
          }
          p {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 177.023%;
            color: $text_color;
            margin: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  .branding-row-elements {
    flex-wrap: wrap;
    .branding-col-card {
      width: 49%;
      margin-bottom: 1%;
      &:nth-of-type(4n) {
        width: 50%;
      }
      &:last-of-type {
        width: 50%;
      }
      .title {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: $small_text_color;
        border-bottom: 1px solid $table-grey;
        height: 40px;
        p {
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 177.023%;
          color: $white;
          margin: 0;
          padding: 0 21px;
        }
      }
      .image {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $white;
        width: 100%;
        height: 240px;
        img {
          width: 100%;
          height: auto;
          padding: 16px;
          max-height: 100%;
        }
      }
      .details {
        padding: 0 16px;
        p {
          font-size: 16px;
          font-weight: 400;
          line-height: 177.023%;
          color: $text_color;
          margin: 0 0 16px 0;
          white-space: pre;
        }
        &-slots {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-bottom: 20px;
          .detail-slot {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: 10px;
            img {
              object-fit: contain;
              margin-right: 8px;
            }
            p {
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 177.023%;
              color: $text_color;
              margin: 0;
            }
          }
        }
      }
      .info {
        padding: 0 16px;
        p {
          font-size: 16px;
          font-weight: 400;
          line-height: 177.023%;
          color: $text_color;
          margin: 0 0 4px 0;
        }
        &-slots {
          display: flex;
          flex-direction: column;
          margin-bottom: 30px;
          .info-slot {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            img {
              object-fit: contain;
              margin-right: 12px;
            }
            p {
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 177.023%;
              color: $text_color;
              margin: 0;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .branding-row-elements {
    .branding-col-card {
      width: 100%;
      margin-bottom: 16px;
      &:last-of-type {
        width: 100%;
      }
      .title {
        p {
          font-size: 14px;
          line-height: 140%;
          padding: 0 16px;
        }
      }
      .image {
        height: 180px;
      }
      .details {
        p {
          font-size: 14px;
          line-height: 140%;
        }
        &-slots {
          .detail-slot {
            p {
              line-height: 140%;
            }
          }
        }
      }
      .info {
        p {
          font-size: 14px;
          line-height: 140%;
        }
        &-slots {
          margin-bottom: 16px;
          .info-slot {
            img {
              margin-right: 10px;
            }
            p {
              line-height: 140%;
            }
          }
        }
      }
    }
  }
}
