#main-wrapper:has(.product_card_gallery_info) {
  background-color: $light_grey;
}

#main-wrapper:has(.product_card_gallery_info) {
  .breadcrumbs {
    position: relative;
    background-color: $light_grey;
    height: 65px;
    padding-bottom: 24px;
    @media (max-width: 760px) {
      height: auto;
      padding-top: 6px;
      padding-bottom: 6px;
    }
    &::before {
      position: absolute;
      display: block;
      content: "";
      background-color: $light_grey;
      left: -50vw;
      top: 0;
      width: 200vw;
      height: 100%;
      z-index: -1;
    }
  }
}

.product_card_gallery_info {
  display: flex;
  flex-direction: row;
  margin-bottom: 80px;
  background-color: $light_grey;
  .product-gallery {
    position: relative;
    display: flex;
    width: 50%;

    .product-label-box {
      position: absolute !important;
      top: -16px;
      left: 16px;
      .product-label {
        p {
          line-height: 20px !important;
        }
      }
    }

    .swiper-zoom-container {
      overflow: hidden;
      background-color: $white;
    }

    /* top gallery */
    .gallery {
      display: flex;
      justify-content: center;
      align-items: center;
      .swiper-slide {
        height: auto;
        background-color: $white;
      }
    }

    .slider-two {
      overflow: hidden;
      @media (max-width: 991px) {
        margin: 0 40px;
      }
    }

    .slider-one {
      border-radius: 20px;
      border: 1px solid $grey15;
      .product-label-box {
        position: relative;
        display: inline-flex;
        flex-wrap: wrap;
        z-index: 1;
        .product-label {
          width: auto;
          padding: 3px 27px;
          margin: 30px 5px;
          height: 27px;
          border-radius: 5px;
          p {
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 27px;
            text-transform: uppercase;
            color: $text_color;
            margin: 0;
            text-align: center;
          }
        }
      }
      .product-icons {
        position: absolute;
        bottom: 24px;
        right: 24px;
        z-index: 1;
        a {
          text-decoration: none;
          .download-icon {
            cursor: pointer;
            margin-left: 11px;
            &:hover {
              filter: invert(40%) sepia(81%) saturate(1252%) hue-rotate(350deg)
                brightness(99%) contrast(91%);
            }
          }
        }
        a,
        span {
          .zoom-icon {
            cursor: pointer;
            &:hover {
              filter: invert(40%) sepia(81%) saturate(1252%) hue-rotate(350deg)
                brightness(99%) contrast(91%);
            }
          }
        }
      }
    }

    .gallery img {
      width: 100%;
      height: auto;
      user-select: none;
      width: max-content;
      max-height: 474px;
      cursor: zoom-in;
      padding: 40px;
      @media (max-width: 991px) {
        padding: 0;
      }
    }

    /* thumbs */
    .gallery-thumbs .swiper-slide {
      width: auto;
      opacity: 0.8;
      margin-top: 20px;
      user-select: none;
      border: 1px solid $grey15;
      border-radius: 20px;
      &.swiper-slide-thumb-active {
        opacity: 1;
        border: 1px solid $main-color;
      }
    }
    .gallery-thumbs img {
      cursor: pointer;
      object-fit: contain;
      width: max-content;
      max-width: 100%;
      aspect-ratio: 1;
      padding: 20px;
      background-color: $white;
      border-radius: 20px;
    }

    /* buttons */
    .swiper-button-next {
      position: absolute;
      width: 45px;
      height: 60px;
      background-image: url("./../assets/icons/product_page/product-arrow-right.svg");
      background-size: contain;
      display: block;
      background-repeat: no-repeat;
      background-position: center center;
      top: 35%;
      background-color: $white;
      bottom: 30%;
      right: 20px;
      z-index: 1;

      &::after {
        display: none;
      }
    }

    .swiper-button-prev {
      position: absolute;
      width: 45px;
      height: 60px;
      background-image: url("./../assets/icons/product_page/product-arrow-left.svg");
      background-size: contain;
      display: block;
      background-repeat: no-repeat;
      background-position: center center;
      top: 35%;
      background-color: $white;
      bottom: 30%;
      left: 20px;
      z-index: 1;

      &::after {
        display: none;
      }
    }
  }
  .product-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 24px;
    width: 100%;
    &_short-description {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    &_title {
      display: inline-flex;
      width: 100%;
      border-bottom: 1px solid $grey5;
      margin: 0 0 8px 0;
      h1 {
        font-size: 32px;
        font-weight: 700;
        line-height: 120%;
        color: $text_color;
        text-transform: uppercase;
      }
    }
    &_ean {
      font-size: 14px;
      font-weight: 400;
      line-height: 177.023%;
      color: $grey5;
      margin: 0 0 25px 0;
      span {
        color: $grey5;
      }
    }
    &_color,
    &_code,
    &_ean,
    &_availability {
      font-size: 16px;
      font-weight: 700;
      line-height: 177.023%;
      color: $text_color;
      margin: 0 0 1px 0;
      span {
        font-weight: 400;
      }
    }
    &_ean {
      margin: 0 0 24px 0;
    }
    &_availability-colors-title {
      display: flex;
      font-size: 20px;
      font-weight: 500;
      line-height: 177.023%;
      color: $text_color;
      margin: 0 0 16px 0;
      width: 100%;
    }
    &_availability-colors {
      margin-bottom: 32px;
      .color {
        border-radius: 100%;
        &.checked {
          outline: 1px solid $black;
          background-image: url(./../assets/icons/product_page/checked.svg);
          background-size: 15px 10px;
          background-repeat: no-repeat;
          background-position: center;
        }
        &:hover {
          outline: 1px solid $black;
        }
      }
    }
    .catalog-price {
      p {
        display: flex;
        flex-direction: column;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        color: $text_color;
        margin: 8px 0;
        gap: 8px;
        span {
          display: inline-flex;
          justify-content: flex-end;
          align-items: flex-end;
          font-weight: 700;
          font-size: 38px;
          line-height: 100%;
          color: $green;
          gap: 8px;
          s {
            color: $red;
            font-size: 25px;
            font-weight: 400;
            line-height: 100%;
          }
        }
      }
    }
  }
}

.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: pointer !important;
}

@media (max-width: 1199px) {
  .product_card_gallery_info {
    .product-gallery {
      .slider-one {
        width: 100%;
        margin-right: 0;
      }
      .thumbs-overflow-wrapper {
        position: relative;
        transform: unset;
        top: 0;
        right: 0;
        .slider-two {
          .swiper-slide {
            transform: unset !important;
            width: 100px !important;
            height: max-content !important;
          }
        }
        .swiper-button-prev {
          display: flex !important;
          top: 55px !important;
          left: 0 !important;
          width: 36px !important;
        }
        .swiper-button-next {
          bottom: 30% !important;
          right: -10px !important;
          top: 55px !important;
          width: 36px !important;
        }
      }
    }
    .product-info {
      margin-left: 10px;
      &_title {
        h1 {
          font-size: 24px;
        }
      }
      &_code,
      &_color,
      &_ean,
      &_availability {
        font-size: 16px;
        line-height: 140%;
      }
      &_ean {
        margin: 0 0 16px 0;
      }
      &_availability-colors-title {
        font-size: 18px;
        margin-bottom: 8px;
      }
      &_availability-colors {
        margin-bottom: 32px;
      }
    }
  }
}

@media (max-width: 991px) {
  .product_card_gallery_info {
    flex-direction: column;
    margin-bottom: 8px;
    .product-gallery {
      width: 100%;
      margin-bottom: 24px;
      .slider-one {
        height: 35vh;
        .product-label-box {
          top: 12px;
          left: 12px;
          .product-label {
            width: auto;
            height: 20px;
            padding: 0 6px;
            p {
              font-size: 12px;
              line-height: 20px;
            }
          }
        }
        .swiper-slide {
          height: 100% !important;
          padding: 32px !important;
        }
      }
      .slider-two {
        box-sizing: border-box;
      }
      .gallery img {
        max-height: unset;
        height: 100%;
      }
      .swiper-slide {
        height: 180px !important;
      }
      .gallery-thumbs {
        img {
          height: 100px;
          width: max-content !important;
        }
        .swiper-slide {
          height: 100px !important;
          width: max-content !important;
          margin-top: 10px;
        }
      }
      /* buttons */
      .swiper-button-next {
        bottom: 32px;
        top: 30px !important;
      }

      .swiper-button-prev {
        bottom: 32px;
        top: 30px !important;
      }
    }
    .product-info {
      margin-left: 0;
      .catalog-price {
        p {
          font-size: 16px;
          span {
            font-size: 30px;
          }
        }
      }
      &_short-description {
        min-height: unset;
      }
      &_title {
        h1 {
          font-size: 20px;
        }
      }
      &_color {
        margin-bottom: 8px;
      }
      &_code,
      &_color,
      &_ean,
      &_availability {
        font-size: 14px;
        line-height: 140%;
      }
      &_availability-colors-title {
        font-size: 16px;
      }
      &_availability-colors {
        margin-bottom: 24px;
      }
    }
  }
}
