.product-card-similar-products {
  background-color: $white;
  padding-top: 70px;
  padding-bottom: 40px;
  .title-red-line {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 106px;
    height: 1px;
    background-color: $main-color-second;
    margin: 8px auto 16px auto;
  }
  #promo_products_swiper {
    margin: 40px 0;
    @media (max-width: 991px) {
      margin: 24px 0;
    }
  }
  .container {
    .promo_products_swiper {
      margin-bottom: 0;
      padding-bottom: 42px;
    }
    h2 {
      font-weight: 700;
      font-size: 34px;
      line-height: 120%;
      text-transform: uppercase;
      color: $main-color;
      padding-bottom: 8px;
      text-align: center;
      @media (max-width: 991px) {
        font-size: 24px;
      }
    }
  }
}
