.dashboard-menu {
  background-color: $white;
  min-width: 260px;
  .header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: $main-color-second;
    min-height: 65px;
    p {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 100%;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 160%;
      text-transform: uppercase;
      padding-left: 69px;
      color: $white;
      margin: 0;
    }
  }
  .expand-menu {
    display: none;
    align-items: center;
    justify-content: center;
    background-color: $white;
    min-height: 40px;
    cursor: pointer;
    border: 1px solid $main-color-second;
    p {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 160%;
      text-transform: uppercase;
      color: $main-color-second;
      margin: 0;
      img {
        transition: 0.6s;
        margin: 0 8px;
      }
    }
    &.active {
      img {
        transform: rotate(180deg);
      }
    }
  }
  .menu-links-container {
    flex-direction: column;
    padding: 17px 26px 55px 26px;
    .menu-links-box {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      .menu-link-big.not-hover {
        &:hover {
          color: $main-color-second;
          cursor: default;
          img {
            filter: unset;
          }
        }
      }
      .menu-link-big {
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
        text-transform: uppercase;
        color: $main-color-second;
        margin: 0 0 10px 0;
        padding-left: 40px;
        text-decoration: none;
        &:hover,
        &.active {
          color: $main-color;
          img {
            filter: invert(13%) sepia(96%) saturate(7041%) hue-rotate(319deg)
              brightness(89%) contrast(110%);
          }
        }
        img {
          margin-left: -36px;
          margin-right: 16px;
        }
      }
      .menu-link {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        color: $text_color;
        margin: 0 0 10px 0;
        padding-left: 40px;
        text-decoration: none;
        padding: 4px 0;
        margin-left: -26px;
        padding-left: 66px;
        width: calc(100% + 52px);
        &:hover,
        &.active {
          background-color: $main-color;
          color: $white;
        }
      }
    }
    button {
      all: unset;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 40px;
      box-sizing: border-box;
      background-color: $white;
      border: 1px solid $main-color-second;
      cursor: pointer;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-top: 10px;
      max-width: 300px;
      svg {
        display: inline-flex;
        margin-right: 10px;
      }
      &:hover {
        background-color: $main-color-second;
        color: $white;
        svg {
          filter: invert(1) brightness(22);
        }
      }
    }
  }
}

@media (max-width: 1260px) {
  .dashboard-menu {
    margin-bottom: 24px;
    .header {
      justify-content: center;
      p {
        justify-content: center;
        padding-left: 0;
      }
    }
    .expand-menu {
      display: flex;
    }
    .menu-links-container {
      display: none;
      &.active {
        display: flex;
      }
    }
  }
}

@media (max-width: 860px) {
  .dashboard-menu {
    .header {
      min-height: 48px;
    }
    .expand-menu {
      border-left: 0;
      border-right: 0;
      p {
        font-size: 16px;
        img {
          width: 10px;
          height: auto;
        }
      }
    }
  }
}
