.dashboard-calculations,
.dashboard-negotiations {
  table {
    tr {
      td {
        padding-top: 15px;
        padding-bottom: 15px;
        input.input-price {
          display: flex;
          justify-content: center;
          width: 80px;
          height: 36px;
          margin: 0 auto;
          padding: 0 8px;
        }
        .negotiation-prices {
          p {
            margin: 0 0 5px 0;
          }
          strong.green {
            color: $dashboard_green2;
          }
        }
        .validity {
          display: flex;
          flex-direction: column;
          gap: 4px;
          height: auto;
          margin-top: 8px;
          span {
            font-size: 12px;
            text-transform: uppercase;
            line-height: 1;
          }
        }
        .calc-dates {
          .date-top,
          .date-bottom {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            height: 80px;
            span {
              font-size: 14px;
              line-height: 140%;
              color: $text_color;
              white-space: pre;
            }
            strong {
              font-size: 14px;
              line-height: 140%;
              color: $text_color;
              white-space: pre;
              &.pink {
                color: $main-color;
              }
            }
          }
          .date-bottom {
            justify-content: flex-end;
          }
        }
        span {
          &.pink {
            color: $main-color;
          }
        }
        .info-desc {
          max-width: 310px;
          strong,
          p {
            display: inline-flex;
            margin: 0 0 11px 0;
            width: 100%;
          }
          p:has(img, svg) {
            align-items: center;
            gap: 5px;
            small {
              font-size: 9px;
            }
          }
          img,
          svg {
            display: inline-flex;
            margin-right: 4px;
          }
          .desc {
            font-size: 9px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            margin: 5px 0 5px 0;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .dashboard-calculations table tr th,
  .dashboard-calculations table tr td,
  .dashboard-negotiations table tr td {
    white-space: inherit;
    white-space: pre;
    width: 300px;
    &:nth-of-type(2) {
      white-space: inherit;
      min-width: 300px;
    }
  }
}
